#Veillez renommer ce fichier en .env et remplir les champs suivants avec vos informations de connexion à la base de données MySQL.
DB_HOST=localhost
DB_USER=root
DB_PASSWORD= # Veuillez saisir votre mot de passe ici
DB_NAME=ecole
DB_PORT=3306
PORT=3000
